* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #e4e2e2;
}

h2 {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  border-top: #616161 solid 1px;
}
label {
  font-weight: bold;
  font-size: larger;
  margin-top: 15px;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  color: #007bff;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
ol {
  font-size: larger;
  list-style: none;
}

input,
textarea,
select,
button {
  font-size: 1em;
  margin: 5px;
  padding: 0.5em;
}

input,
select {
  min-width: 250px;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  margin: 10px;
  padding: 0.5em 1em;
}

button:hover {
  background-color: #0056b3;
}
